@import "../../scss/variables";

.top{
    font-family: "Nothing You Could Do", cursive;
 background-color: navajowhite;
  border-radius: 1rem;
}
.tops{
  gap: 0.2rem;
  

}
.logopalm{
  width: 5rem;  
}

.nav-link{
  background-color: #7f9124;
width: 8rem;
text-align: center;
font-size: 1rem;
border-radius: 1rem;
}

  .car{
justify-content: center;

  }
  .container1 h2 {
 
    color: rgb(214, 45, 45);
    letter-spacing: 1rem;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 900;
    margin-top: 3rem;
    
   
  }

.container1{
  background-image: url(../../assets/hk.jpg);
  height: 100vh;
background-attachment: fixed;
background-position: center;
  backdrop-filter: drop-shadow(4px 4px 10px blue);
 
}
