@import "../scss/variables";

.last {
  height: 6rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(206, 158, 117, 0.616);
  font-family: "Nothing You Could Do", cursive;
padding-top: 2rem;
color: $Teals-4
}
