@import "./reset";
@import  "./variables";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');



  .App {
    display: flex wrap;
flex-direction: column;
justify-content: center;
    margin: 0 auto;
    align-items: center;
    padding: 0.5% 8%;

background-position: center center;
background-image: url(../assets/book.jpeg);
background-size: cover;
background-repeat: no-repeat;


  }
  
.navbar{
  background-color: #333;
}
.topic{
  margin-left: 5rem;

}

.top{
    font-family: "Nothing You Could Do", cursive;
 background-color: navajowhite;
  border-radius: 1rem;
}
.tops{
  gap: 0.2rem;
  

}
.logopalm{
  width: 5rem;  
}

.nav-link{
  background-color: #7f9124;
width: 8rem;
text-align: center;
font-size: 1rem;
border-radius: 1rem;
}

  .car{
justify-content: center;

  }
  .container1 h2 {
 
    color: rgb(214, 45, 45);
    letter-spacing: 1rem;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 900;
    margin-top: 3rem;
    
   
  }

.container1{
  background-image: url(../assets/hk.jpg);
  height: 100vh;
background-attachment: fixed;
background-position: center;
  backdrop-filter: drop-shadow(4px 4px 10px blue);
 
}


  .hotels-list {
background-color: rgba(136, 136, 136,0.5);
    margin: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
align-items: center;
    cursor: pointer;
    border-radius: 1rem;
  }
    .hotels-list:hover {
    background-color: rgba(52, 79, 87, 0.5);
  }
  .hotel {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
justify-content: center;
align-items: center;
    padding: 1rem;
    }

  .hotel__image {
    display: block;
    width: 17rem;
        height: 15rem;
      border-radius: 0.5rem;
      margin-right: 0.5rem;
      object-fit: contain;
  }
  .hotel__text {
    width: 100%;
    color: #888;
    font-size: 0.8rem;
  }
  .hotel__header {
    display: flex;
    justify-content: space-between;
  }
  .hotel__name {
    font-size: 20px;
    padding: 3px 0;
    color: #07c;
    font-weight: bold;
    margin: 0;
    line-height: 28px;
  }
  .hotel__rating {
    display: block;
    color: white;
    background: darkblue;
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
  }
  .hotel__main {
    display: flex;
    justify-content: space-between;
    height: 8rem;
  }
  .hotel__perks {
    display: block;
    color: green;
    font-size: 0.8rem;
  }
  .hotel__rooms-remaining {
    display: block;
    color: red;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
  .hotel__main--right {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: auto;
  }
  .hotel__price {
    color: green;
    font-size: 20px;
  }
  .hotel__see-rooms {
    padding: 2px;
    background-color: darkblue;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 3px;
  }
  .hotel__see-rooms:hover {
    box-shadow: 0 0 1px 1px #333;
  }
  .hotel__best-seller-flag {
    position: absolute;
    top: -8px;
    left: -8px;
    padding: 10px 15px;
    background-color: green;
    color: white;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 2px black;
  }
  .hotel__best-seller-flag::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 0;
    border: 4px solid darkgreen;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  
.booking-list {
  background-color: rgb(130, 114, 140);
  text-align: center;
  
}



  .filters {
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    margin: 16px 5px;
    margin-left: 8%;
    margin-bottom: 40px;
    background-color: rgb(209, 173, 173);
  }
  .filters__header {
    margin: 0;
    padding: 8px 5px;
    font-size: 16px;
  }
  .filters-list {
    margin: 0;
    padding: 0;
  }
  .filter {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  .filter__checkbox {
    margin-right: 10px;
  }
  
  .filter__match-count {
    color: #888;
  }
  
 
  
  @media only screen and (max-width: 1120px) {
    .App {
      width: auto;
    }
  }    
  @media only screen and (max-width: 875px) {
    .hotel {
flex-wrap: wrap;
    }
  }    

 